.header_logo {
    background: url(./../img/header/header.jpg) center / cover no-repeat;
    height: 90.7vh;
}

.header_info {
    max-width: 500px;
    padding: 93px 0 173px 0;
}
.header_suptitles {
    display: flex;
    column-gap: 50px;
    margin: 0 0 12px 0;
}
.header_suptitle {
}
.header_title {
    font-size: 72px;
    line-height: 1; 
    margin: 0 0 22px 0;
}
.header_subtext {
    line-height: 1.11; /* 24.6/22 */
    margin: 0 0 45px 0;
}
