body {
    font-family: $main-font;
    font-size: 22px;
    color: $main-text;
    overflow-x: hidden;
}


.container {
    width: 100%;
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
    padding: 21px 31px;
    background: $second-bg;
    color: $second-text;
    border: 2px solid $second-bg;
    transition: all .3s ease-in;
}
.btn:hover {
    background: transparent;
    color: $main-text;
}

.title {
    font-size: 56px;
    line-height: 1;
    text-align: center;
}