// Colors 
$main-bg: #000;
$second-bg: #F2F2F2;
$third-bg: #60777C;

$main-text: #fff;
$second-text: #000;
$link-text: #0888C8;
$hover-text: #60777C;

// Font Family

$main-font: 'Roboto', sans-serif;